<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h2>New Post</h2>
    <form th:action="@{/create}" th:object="${forum}" method="post">
      <label>Title</label>
      <p><input type="text" th:field="*{title}" /></p>

      <label>body</label>
      <p><textarea id="form" th:field="*{body}"></textarea></p>
      <p><input type="submit" value="Submit" id="button" /></p>
    </form>
  </body>
</html>
